:root{
    --main-color: #10cab7;
    --secondary-color:#2c4755;
}
/* start global rools */
*{

box-sizing: border-box;
scroll-behavior: smooth;
}

body{
    font-family: "work sans", sans-serif;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width:768px){
 .container{
     width: 750px;
 }
}
/* medium */

@media(min-width:992px){
    .container{
        width: 970px;
    }
}
/* lurg */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
html{
    scroll-behavior: smooth;
}
 /* End global rools */

 /* Start componants */
   .special-hedding{
    font-size: 100px;
    margin: 0;
    text-align: center;
    color: #ebeced;
    letter-spacing: -3px;
    font-weight: 800;
}
.special-hedding +p{
    text-align: center;
    margin-top: -30px;
    color: #797979;
    font-size: 20px;
}
@media (max-width: 767px){
    .special-hedding{
        width: 60px;
    }
    .special-hedding +p{

        margin-top: -20px;
    }
}
 /* End coponents */

/* start header */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links:hover  ul{
  display: block;
}
.header .links .icon:hover  span:nth-child(2){
    width: 100%;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
   background-color: black;
   margin-bottom: 5px;
   height: 2px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}
.header .links .icon span:last-child{
    width: 100%;
}

.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    background-color: #dbcaca;
    top: calc(100% + 20px);
    width: 150px;
    display: none;
    z-index: 1;
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #dbcaca transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul li{
    margin-bottom: 10px;
}
.header .links ul li:not(:last-child){
    border-bottom: 2px rgb(167, 152, 152) solid;
}
.header .links ul li a{
    text-decoration: none;
    padding: 15px;
    color: #333;
    transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 40px; 
}
/* end hearder */
/* Start landing section */
.landing{
    background-image: url(../images/pexels-pixabay-355747.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 text-align: center;
 width: 320px;
 max-width: 100%;
}
.landing .intro-text h1{
 margin: 0;
 font-weight: bold;
 font-size: 50px;
 color: var(--main-color);
}
.landing .intro-text p{
    font-weight: bold;
  font-size: 19px;
  line-height: 1.8;
}
/* End landing section */

/* Start fituer */
.fituer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.fituer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.fituer .fit{
    padding: 20px;
    text-align: center;
}
.fituer .fit h3{
    color: #10cab7;
font-weight: 800;
margin: 30px 0;
}
.fituer .fit p{
    color: #777;
    line-height: 1.8;
    font-size: 12px;
}
/* End fituer */
/* Start srveces */
.serveces{
    padding-top: 60px;
    padding-bottom: 60px;
}
.serveces .serveces-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 70px;
}

.serveces .serveces-content .ser{
    display: flex;
    margin-bottom: 30px;
}
@media (max-width:767px){
    .serveces  .serveces-content .ser{
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width:767px){
    .serveces  .serveces-content .text{
        flex-direction: column;
        text-align: center;
    }
}

.serveces .serveces-content .ser{
    color: var(--main-color);
    flex-basis: 60px;
}
.serveces .serveces-content .text{
    flex: 1;
}
.serveces .serveces-content .text h3{
    margin-top: -30px;
}
.serveces .serveces-content .text p{
    font-weight: 400;
    color: #777;
    line-height: 1;
}
.serveces .container .serveces-content .col1 .image{
    position: relative;
}
.serveces .container .serveces-content .col1 .image::before{
    content: "";
    width: 100px;
    background-color: #2c4755;
    height: calc(100% + 100px);
    margin-top: -50px;
    right: 120px;
    z-index: -1;
    position: absolute;
}
@media(max-width: 1199px){
    .image{
        display: none;
    }
}
/* End serveces */
/* Start portofolio */
.portofolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.portofolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 60px;
}
.portofolio-content .card{
    background-color: white;
}
.portofolio-content .card img{
    max-width: 100%;
}
.portofolio-content .card .info{
    padding: 20px;
}
.portofolio-content .card .info h2{
  margin: 0;
}
.portofolio-content .card .info p{
    margin-bottom: 0;
    color: #777;
    line-height: 1.6;
    font-weight: 800;
}
/* End portofolio */
/* Start about */
.about{
    padding-top: 60px;
    padding-bottom: 120px;
}
.about-content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}
.about-content .image img{
    max-width: 100%;
}
.about-content .image::before{
    content: "";
    position: absolute;
    height: calc(100% + 80px);
    width: 100px;
    background-color:#ebeced;
    left: -20px;
    top: -40px;
    z-index: -1;
}
.about-content .image::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 250px;
    border-left: 80px solid #10cab7;
    border-bottom: 80px #10cab7 solid;
    right: -130px;
    top: -40px;
    z-index: -1;
}
.about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 1.6;
    width: 600px;
    color: black;
}
.about-content .text p:last-of-type{
    font-weight: 400;
    margin-top: 5px;
    line-height: 1.4;
    width: 600px;
    color: #777;
}
.about-content .text hr{
    height: 3px;
    background-color: #10cab7;
}
/* End about */
/* Start Contact */
.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #c0c1c2;
}
.contact .info{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.contact .info .lable{
    font-size: 30px;
    font-weight: 800;
    color: #2c4755 ;
    letter-spacing: -3px;
    margin-bottom: 15px;
}
.contact .info .link{
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    color: #10cab7;
    display: block;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 16px;
}
.contact .info .social i{
    margin-left: 10px;
    color: #2c4755;
}
/* End Contact */